.parallax2 {
  padding-top: 300px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.8),
    rgba(33, 32, 31, 0.9)
  );
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/Starters_Menu_bg.jpg");
}

.parallax2 {
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (max-resolution: 192dpi) and (min-width: 125em) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("/images/Starters_Menu_bg.jpg");
  }
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 40vh;
  margin-top: -34vh;
}

.titleOnImage {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 768px) {
  .titleOnImage {
    font-size: 2rem;
  }
}

.aboutUsContainer {
  // position: absolute;
  // top: 80%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-align: center;
}

.aboutUsRightBlock {
  width: 80%; 
  margin: auto;
}

.textBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.textBlockItm {
  text-align: center;
}
